/* 
    Header.module.css
*/

.header_wrapper{
    color: var(--light-color);
    padding: 0.6rem 2rem;
    background: var(--theme-color);
    display: flex;
    align-items: center;
}

/* header logo css starts here */
.header_logo{
    display: flex;
    align-items: center;
    justify-content: left;
}
.header_logo a img{
    max-height: 40px;
}

/* header search css starts here */
.header_search{
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
}
.header_search_side_bar img{
    height: 100%;
}
.header_search_input_wrapper{
    width: 100%;
}
.header_search_input_wrapper form{
    display: flex;
};
.header_search_input_wrapper form input{
    /*
    WRITTEN IN JSX STYLE
    */
} 
.header_search_input_wrapper select{
    width: 100%;
    height: 40px;
    max-height: 100%;
    padding: 0px 0px 0px 9px;
    border: none;
    text-transform: capitalize;
    background: #fff;
}
.header_search_input_wrapper a{
    width: 100%;
    height: 40px;
    max-height: 100%;
    padding: 0.5rem 0;
    border-radius: 0 5rem 5rem 0;
    border: none;
    outline: none;
    background: var(--search-btn-color);
}
.header_search_icon{
    width: 20px;
}


/* header buttons css starts here */
.header_buttons{
    display: flex;
    justify-content: space-around;
}
.header_icon{
    margin-left: 0.6rem;
}
.header_icon a img{
    height: 1.2rem;
}
.header_compare,
.header_cart,
.header_wishlist,
.header_user
{
    position: relative;
}
.header_user_drop_down{
    position: absolute;
    right: 0px;
    top: 20px;
    background-color: var(--light-color);
    border: 1px solid #ddd;
    padding: 0.7rem;
    /* z-index: var(--z-index-100); */
}
.header_basket_drop_down{
    position: absolute;
    right: 0px;
    top: 20px;
    background-color: var(--light-color);
    border: 1px solid #ddd;
    padding: 0.7rem;
}
.responsive_search_icon{
    width: 25px;
}
.count{
    background: var(--dark-color);
    border-radius: 50%;
    color: var(--light-color);
    font-size: 11px;
    height: 15px;
    left: 10px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: -5px;
    width: 15px;
    z-index: var(--z-index-100);
}
/* NAV LINKS CSS HERE */
.nav_links_wrapper{
    color: var(--theme-color);
    padding: 0.2rem 0.4rem;
    font-size: 0.6rem;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
}
.all_categories a{
    color: var(--theme-color);
}
/* middle_links */
.middle_links ul{
    display: flex;
    align-items: center;
    margin: 0;
}
.middle_links ul li:not(:last-child){
    margin-right: 1rem;
}
.middle_links ul li a{
    color: var(--theme-color);  
}
.navlink_right{
    font-size: 0.7rem;
}
.navlink_icon{
    height: 20px;
    width: 20px;
    margin-right:0.6rem;
}
/* responsive css starts here */
@media (min-width:767px) {
        /* header logo css starts here */
        .header_logo{
            justify-content: center;
        }
    /* header search css starts here */
    .header_search{
        margin-bottom: 0;
    }
    /* header buttons css starts here */
    .header_buttons{
        justify-content: center;
    }
    /* .header_buttons div:not(:last-child){
        margin-right: 2rem;
    } */
    .count{
        height: 20px;
        left: 17px;
        line-height: 20px;
        top: -10px;
        width: 20px;
    }
    .nav_links_wrapper{
        font-size: 0.9rem;
        padding: 0.2rem 2rem;

    }
}