.home_wrapper{
  position: relative;
}
/* Category sidebar css */
.categories{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
    border: 1px solid var(--theme-color);
    display: none;
}
.categories_list{
  height: 100%;
  overflow-y: scroll;
  position: relative;
    z-index: 999 !important;
    background: #fff;
  
}
.categories_list ul{  
  text-align: center;
}
.categories_list ul li a{  
  color: var(--theme-color);
  display: block;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.categories_list ul li a:hover{ 
  color: var(--light-color);
  background-color: var(--dark-color);
  text-decoration: none;
 }
.categories_list ul li:not(:last-child){
  border-bottom: 1px solid var(--theme-color);
}
.categories_backdrop{
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background: var(--dark-color);
  opacity: 0.4;
  z-index: 997;
  left: 0;
  top: 0;
}
.categories_list ul{
  /* display: flex; */
}
.cross{
  position: absolute;
  right: 12px;
  z-index: 1000;
  background: var(--theme-color);
  top: 11px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
}
/* Features css here */
.features_wrapper {
  margin-top: 0.5rem;
}
.features_wrapper .single_feature {
  border: 1px solid var(--theme-color);
  margin-bottom: 0.6rem;
  border-radius: 0.25rem;
  padding: 0.4rem;
}
.features_wrapper .single_feature .feature_icon img{
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 1rem;
}
.features_wrapper .single_feature .feature_text h3{
  font-size: 0.8rem;
  margin: 0;
}
.features_wrapper .single_feature .feature_text span{
  font-size: 0.5rem;
  color: var(--theme-color);
}

/* Category Row Section Css here */
.single_category_wrapper a:hover{
  text-decoration: none;
}
.single_category_box{
  background-color: var(--bg-color-one); 
  padding: 0.325rem;
  box-shadow: var(--box-shadow-one);
}
.category_image img{
  min-height: 100%;
    min-width: 120px;
    width: 50%;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}
.category_details{
  padding-left: 0.625rem;
}
.category_name span{
  font-size: 0.75rem;
  font-weight:300;
  text-transform: capitalize;
  color:var(--dark-color) ;
}
.single_category_wrapper a:hover .category_name span{
  color: var(--theme-color);
}
.category_btn {
  padding-top: 1.4rem;
}
.category_btn a{
  text-transform: capitalize;
  font-weight: 400;
  margin-right: 0.3rem;
  padding: 0.4rem 0;
}
.category_btn a:after{
    content: "\f054";
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: 0.325rem;
}
.category_discount{
  color: var(--light-color);
  margin-top: 1rem;
}
.category_discount .discount_text{
  color: var(--dark-color);
  font-size: 1rem;
  
}
.category_discount .discount_text span:not(:last-child){
  margin-bottom: -13px;
}
.category_discount .discount_number{
  font-size: 1.5rem;
  color: var(--theme-color);
}

/* HeadPhone wrapper css here */

.row_single_banner img{
  height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Home All Products css  */
.all-product-header{
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #000;
  color: var(--heading-color);
  padding: 0 .625rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}
/* List Product Section css  */
.home_product_list_wrapper{
  border-bottom: 1px solid var(--dark-color);
      padding: 0.325rem;
  }
.list_product_image img{
  width: 150px;
    height: 75px;
    object-fit: contain;
}
.list_product_rating img{
  height: 15px;
  width: 15px;
  object-fit: contain;
  margin-right: 0.2rem;
}
.list_product_price p{
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.65rem;
  margin-bottom: 0.65rem;
  color: var(--theme-color);
}


/*  brand Slider css here */
.brand_slider_wrapper .single_brand:not(:last-child){
  border-right: 1px solid var(--dark-color);
}
.brand_slider_wrapper .single_brand img{
    height: 70px;
    width: 100%;
    object-fit: contain;
}


/* 
  Footer Section Css starts here
*/

/* newsletter css */

.news_letter_wrapper{
  background-color: var(--newsletter-bg-color);
}
.news_letter_left img{
    height: 20px;
    width: 20px;
    object-fit: contain;
}
.news_letter_form{
  /* background: var(--light-color); */
}
.news_letter_input input{
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  padding: 0.4rem;
}
.news_letter_button button{
  height: 2.4rem;
  width: 100%;
  font-size:1.2rem ;
  outline: none;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0 ;
  background-color: var(--theme-color);
  color: var(--light-color);
}
.news_letter_button button:hover{
  background-color: var(--dark-color);
}

@media (max-width:1440px) {
  .category_image img{
    min-height: 100%;
    min-width: 100%;
    /* width: 36%; */
    /* width: 100px;*/
    object-fit: contain;
    max-height: 100%;
    max-width: 100%; 
  }
}
@media (min-width:1150px) {
  .category_name span {
    font-size: 1.2rem;
  }
  .category_discount .discount_text{
    font-size: 1.2rem;
  }
  .category_discount .discount_number{
    font-size: 2rem;
  }
}
@media (min-width:767px) {
  .categories{
    width: 30%;}
    .features_wrapper .single_feature {
      padding: 1rem;
    }
    .features_wrapper .single_feature .feature_text h3{
      font-size: initial;
    }
    .features_wrapper .single_feature .feature_text span{
    font-size: 0.8rem;
    }
}
