.home_wrapper{
  position: relative;
}
/* Category sidebar css */
.categories{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
    border: 1px solid var(--theme-color);
    display: none;
}
.categories_list{
  height: 100%;
  overflow-y: scroll;
  position: relative;
    z-index: 999 !important;
    background: #fff;
  
}
.categories_list ul{  
  text-align: center;
}
.categories_list ul li a{  
  color: var(--theme-color);
  display: block;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.categories_list ul li a:hover{ 
  color: var(--light-color);
  background-color: var(--dark-color);
  text-decoration: none;
 }
.categories_list ul li:not(:last-child){
  border-bottom: 1px solid var(--theme-color);
}
.categories_backdrop{
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background: var(--dark-color);
  opacity: 0.4;
  z-index: 997;
  left: 0;
  top: 0;
}
.categories_list ul{
  /* display: flex; */
}
.cross{
  position: absolute;
  right: 12px;
  z-index: 1000;
  background: var(--theme-color);
  top: 11px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
}
/* Features css here */
.features_wrapper {
  margin-top: 0.5rem;
}
.features_wrapper .single_feature {
  padding: 1rem 0;
  border: 1px solid var(--theme-color);
  margin-bottom: 0.6rem;
  border-radius: 0.25rem;
  padding: 1rem;
}
.features_wrapper .single_feature .feature_icon img{
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 1rem;
}
.features_wrapper .single_feature .feature_text h3{
  font-size: 0.8rem;
  margin: 0;
}


.features_wrapper .single_feature .feature_text span{
  font-size: 0.5rem;
}
@media (min-width:767px) {
  .categories{
    width: 30%;}
  .features_wrapper .single_feature .feature_text h3{
    font-size: initial;
  }
  .features_wrapper .single_feature .feature_text span{
    font-size: initial;
  }
}