.features_wrapper {
  margin-top: 0.5rem;
}
.features_wrapper .single_feature {
  padding: 1rem 0;
  border: 1px solid var(--theme-color);
  margin-bottom: 0.6rem;
  border-radius: 0.25rem;
  padding: 1rem;
}
.features_wrapper .single_feature .feature_icon img{
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-right: 1rem;
}
.features_wrapper .single_feature .feature_text h3{
  font-size: 0.8rem;
  margin: 0;
}

.features_wrapper .single_feature .feature_text span{
  font-size: 0.5rem;
}
@media (min-width:767px) {
  .features_wrapper .single_feature .feature_text h3{
    font-size: initial;
  }
  .features_wrapper .single_feature .feature_text span{
    font-size: initial;
  }
}